html,
body {
    height: 100%;
    margin: 0
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#root {
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar__brand-container * {
    margin-bottom: 10px;
}

.sidebar__brand-container hr {
    background-color: white;
    margin-bottom: 3em;
}

.container__side-bar {
    display: flex;
    flex-direction: column;
    width: 10%;
    padding: 2em;
    text-align: center;
    background-color: #4caf50;
    color: #ffffff;
}

.sidebar__brand-header {
    min-height: 5em;
}

.container__content {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    box-sizing: border-box;
    padding: 2em;
}

.container__content__login__register__action {

}

.container__content__login__register__action {
    justify-content: space-between;
    display: flex;
}

.container__content__login__register__signup form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 40%;
}

.container__content__login__register__signup div {
    margin: 0.5em;
}

.container__content__login__register__signup h3 {
    text-align: center;
}

.sidebar__profile-pic {
    height: 64px;
    width: 64px;
    border-radius: 64px;
    border: 0px solid transparent;
}

.idea__header {
    display: flex;
    justify-content: space-around;
    height: 10%;
    font-size: 2em;
}

.idea__header div {
    min-width: 30%;
}

.idea__header__action {
    text-align: right;
}

.idea__container {
    text-align: center;
    height: 90%;
}

.idea__container__ideas__header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.idea__container__ideas__header__content {
    flex-basis: 30%;
    flex-grow: 2;
}

.idea__container__ideas__header div {
    margin: 0px 5px;
    box-sizing: border-box;
    min-width: 100px;
    text-align: left;
}

.idea__container__ideas__row input,
.idea__container__ideas__row div {
    margin: 0px 5px;
    min-width: 100px;
    border: none;
    box-sizing: border-box;
    text-align: left;
    padding: 0px;
}

.idea__container__ideas li {
    height: 55px;
}

.idea__container__ideas__row {
    padding: 10px 0px;
}


.idea__container__ideas__row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.material-icons {
    cursor: pointer;
    margin-right: 10px;
}

a {
    color: #66bb6a;
}

.container__side-bar a {
    color: #222222;
}

.container__side-bar__brand-image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 64px;
    width: 64px;
}

.container__ideas__got-idea {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 64px;

}